/* Header Section */
nav{
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

#subscribe {
    text-decoration: underline;
    color:#67747c;
    margin-left: 15px;

}

#blogtitle {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 60px;
}

#search {
    font-size: 15px;
    background: #f1f1f1;
    margin-right: 15px;
    border: 1px solid grey;
}


/* Body Section */
.main {
    height: 100%;
    width: 80%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.post {
    border: 3px solid #e6e6e6;
    text-align: left;
    margin: 10px 10px;
}

.post * {
    padding-left: 10px;
}

.intro {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
}

.world {
    color:  #0066ff;
}

.design {
    color:#00cc44;
}

.date {
    color: #67747c
}

.blog_link {
    color:  #0066ff;
    text-decoration: underline;
}


/* Footer Section */
footer {
    height: 10%;
    width: 80%;
    text-align: center;
    background-color: #e6e6e6;
    margin: 0 auto;
}

.footer-message1 {
    color:#67747c;
    padding-top: 10px;
}

.footer-message2 {
    color:#67747c;
    padding-bottom: 10px;
}